<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new lion</title>
</head>
<body>
<h1>Create new lion</h1>
<form method="post" th:action="@{/lions}">
    <p>
        <label>Name</label>
        <input type="text" name="name">
    </p>
    <p>
        <label>Age</label>
        <input type="number" name="age">
    </p>
    <p>
        <label>Weight</label>
        <input type="number" name="weight">
    </p>
    <p>
        <label>Kills</label>
        <input type="number" name="kills">
    </p>
    <button type="submit">Save Lion</button>
</form>
</body>
</html>