<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monkey's home page</title>
</head>
<body>

<h1>Monkey's home page</h1>
<p>Welcome to the jungle</p>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Species</th>
    <th>Country of origin</th>
    <th>Current habitat</th>
    </thead>
    <tbody th:each="monkey : ${monkeys}">
    <td th:text="${monkey.id}"></td>
    <td th:text="${monkey.name}"></td>
    <td th:text="${monkey.type}"></td>
    <td th:text="${monkey.originCountry}"></td>
    <td th:text="${monkey.currentHabitat}"></td>
    </tbody>
</table>
</body>
</html>