<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pumas</title>
</head>
<body>

<h1>Pumas</h1>

<p>
    <a th:href="@{/pumas/new}">Create new puma</a>
</p>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Dangerous</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="puma : ${pumas}">
        <td th:text="${puma.id}"></td>
        <td th:text="${puma.name}"></td>
        <td th:text="${puma.age}"></td>
        <td th:text="${puma.weight}"></td>
        <td th:text="${puma.dangerous}"></td>
        <td>
            <a th:href="@{/pumas/{id}(id=${puma.id})}">Show</a>
            <span> | </span>
            <a th:href="@{/pumas/{id}/update(id=${puma.id})}">Update</a>
            <span> | </span>
            <a th:href="@{/pumas/delete/{id}(id=${puma.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
