<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Puma</title>
</head>
<body>

<h1>Puma details</h1>

<p><b>Id:</b> <span th:text="${puma.id}"></span></p>
<p><b>Name:</b> <span th:text="${puma.name}"></span></p>
<p><b>Age:</b> <span th:text="${puma.age}"></span></p>
<p><b>Weight:</b> <span th:text="${puma.weight}"></span></p>
<p><b>Dangerous:</b> <span th:text="${puma.dangerous}"></span></p>

<p>
    <a th:href="@{/pumas}">Back to list</a>
    <span> | </span>
    <a th:href="@{/pumas/{id}/update(id=${puma.id})}">Update</a>
</p>

</body>
</html>
