<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Wolf</title>
</head>
<body>

<h1>Update wolf:</h1>

<form method="post" th:action="@{/wolves/{id}(id=${wolf.id})}">
    <input type="hidden" name="_method" value="PUT">
    <p>
        <label>Name: </label>
        <input type="text" name="name"
               th:value="${wolf.name}">
    </p>

    <p>
        <label>Age: </label>
        <input type="number" name="age"
               th:value="${wolf.age}">
    </p>

    <p>
        <label>Color of fur: </label>
        <input type="text" name="furColor"
               th:value="${wolf.furColor}">
    </p>

    <p>
        <label>Key of howl (A-G): </label>
        <input type="text" name="howlKey"
               th:value="${wolf.howlKey}">
    </p>
</form>

</body>
</html>