<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Lion</title>
</head>
<body>
<h1>Update Lion</h1>

<form method="post" th:action="@{/lions/{id}(id=${lion.id})}">
    <input type="hidden" name="_method" value="PUT">
    <p>
        <label>Age</label>
        <input type="text" name="age"
               th:value="${lion.age}">
    </p>
    <p>
        <label>Weight</label>
        <input type="number" name="weight"
               th:value="${lion.weight}">
    </p>
    <p>
        <label>Kills</label>
        <input type="number" name="kills"
               th:value="${lion.kills}">
    </p>
    <button type="submit">Update Lion</button>
</form>
</body>
</html>