<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wolves</title>
</head>
<body>
<h1>The wolf pack:</h1>
<ul>
    <li th:each="wolf : ${wolves} ">

        <span th:text="${wolf.name}"></span>
        <a th:href="@{/wolves/{id}(id=${wolf.id})}">Show info</a>

        <span> - </span>

        <a th:href="@{/wolves/{id}/edit(id=${wolf.id})}">Update info</a>
        <form th:action="@{/wolves/{id}(id=${wolf.id})}" method="post" style="display:inline;">
            <input type="hidden" name="method_" value="DELETE">
            <button type="submit">Delete wolf</button>
        </form>

    </li>
</ul>

</body>
</html>